USE [master]
GO
/****** Object:  Database [QLTV]    Script Date: 06/21/2016 11:08:43 ******/
CREATE DATABASE [QLTV] ON  PRIMARY 
( NAME = N'QLTV', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QLTV.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLTV_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QLTV_log.ldf' , SIZE = 5696KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTV]
GO
/****** Object:  Table [dbo].[tbl_CTPHIEUMUON]    Script Date: 06/21/2016 11:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_CTPHIEUMUON](
	[maPhieu] [int] NOT NULL,
	[maSach] [int] NOT NULL,
	[hanTra] [date] NOT NULL,
	[tienCoc] [bigint] NULL,
 CONSTRAINT [PK_tbl_CTPHIEUMUON] PRIMARY KEY CLUSTERED 
(
	[maPhieu] ASC,
	[maSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_NGONNGU]    Script Date: 06/21/2016 11:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_NGONNGU](
	[maNN] [int] IDENTITY(1,1) NOT NULL,
	[tenNN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_NGONNGHU] PRIMARY KEY CLUSTERED 
(
	[maNN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_NHANVIEN]    Script Date: 06/21/2016 11:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_NHANVIEN](
	[maNV] [int] IDENTITY(1,1) NOT NULL,
	[tenNV] [nvarchar](50) NOT NULL,
	[gioiTinhNV] [bit] NOT NULL,
	[ngaySinhNV] [date] NULL,
	[dienThoaiNV] [varchar](11) NOT NULL,
	[diaChiNV] [nvarchar](100) NULL,
	[emailNV] [nchar](100) NOT NULL,
	[ngayVaoLam] [date] NOT NULL,
	[matKhau] [char](30) NOT NULL,
 CONSTRAINT [PK_tbl_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_NHAXUATBAN]    Script Date: 06/21/2016 11:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_NHAXUATBAN](
	[maNXB] [int] IDENTITY(1,1) NOT NULL,
	[tenNXB] [nvarchar](200) NOT NULL,
	[diaChiNXB] [nvarchar](100) NULL,
	[dienThoaiNXB] [char](11) NULL,
	[websiteNXB] [char](100) NULL,
 CONSTRAINT [PK_tbl_NHAXUATBAN] PRIMARY KEY CLUSTERED 
(
	[maNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_PHIEUMUON]    Script Date: 06/21/2016 11:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_PHIEUMUON](
	[maPhieu] [int] IDENTITY(1,1) NOT NULL,
	[maSV] [char](10) NOT NULL,
	[ngayMuon] [date] NOT NULL,
	[maNV] [int] NOT NULL,
 CONSTRAINT [PK_tbl_PHIEUMUON] PRIMARY KEY CLUSTERED 
(
	[maPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_SACH]    Script Date: 06/21/2016 11:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SACH](
	[maSach] [int] IDENTITY(1,1) NOT NULL,
	[tenSach] [nvarchar](50) NOT NULL,
	[soTrang] [int] NOT NULL,
	[gia] [bigint] NOT NULL,
	[soLuong] [int] NOT NULL,
	[ngayNhap] [date] NULL,
	[maNXB] [int] NOT NULL,
	[maTL] [int] NOT NULL,
	[maTG] [int] NOT NULL,
	[maNN] [int] NOT NULL,
	[tinhTrang] [bit] NULL,
 CONSTRAINT [PK_tbl_SACH] PRIMARY KEY CLUSTERED 
(
	[maSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_SINHVIEN]    Script Date: 06/21/2016 11:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_SINHVIEN](
	[maSV] [char](10) NOT NULL,
	[hoTenSV] [nvarchar](50) NOT NULL,
	[gioiTinhSV] [bit] NOT NULL,
	[ngaySinhSV] [date] NOT NULL,
	[lopSV] [char](20) NOT NULL,
	[ngayLamThe] [date] NOT NULL,
	[ngayHetHan] [date] NOT NULL,
 CONSTRAINT [PK_tbl_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[maSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_TACGIA]    Script Date: 06/21/2016 11:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_TACGIA](
	[maTG] [int] IDENTITY(1,1) NOT NULL,
	[hoTenTG] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_TACGIA] PRIMARY KEY CLUSTERED 
(
	[maTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_THELOAI]    Script Date: 06/21/2016 11:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_THELOAI](
	[maTL] [int] IDENTITY(1,1) NOT NULL,
	[tenTL] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_THELOAI] PRIMARY KEY CLUSTERED 
(
	[maTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_TRASACH]    Script Date: 06/21/2016 11:08:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_TRASACH](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[maPhieu] [int] NOT NULL,
	[maSach] [int] NOT NULL,
	[maNV] [int] NOT NULL,
	[ngayTra] [date] NOT NULL,
	[phatHuHong] [bigint] NULL,
	[phatQuaHan] [bigint] NULL,
	[thanhToan] [bigint] NULL,
 CONSTRAINT [PK_tbl_TRASACH] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[tbl_CTPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_tbl_CTPHIEUMUON_tbl_PHIEUMUON] FOREIGN KEY([maPhieu])
REFERENCES [dbo].[tbl_PHIEUMUON] ([maPhieu])
GO
ALTER TABLE [dbo].[tbl_CTPHIEUMUON] CHECK CONSTRAINT [FK_tbl_CTPHIEUMUON_tbl_PHIEUMUON]
GO
ALTER TABLE [dbo].[tbl_CTPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_tbl_CTPHIEUMUON_tbl_SACH1] FOREIGN KEY([maSach])
REFERENCES [dbo].[tbl_SACH] ([maSach])
GO
ALTER TABLE [dbo].[tbl_CTPHIEUMUON] CHECK CONSTRAINT [FK_tbl_CTPHIEUMUON_tbl_SACH1]
GO
ALTER TABLE [dbo].[tbl_PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_tbl_PHIEUMUON_tbl_NHANVIEN] FOREIGN KEY([maNV])
REFERENCES [dbo].[tbl_NHANVIEN] ([maNV])
GO
ALTER TABLE [dbo].[tbl_PHIEUMUON] CHECK CONSTRAINT [FK_tbl_PHIEUMUON_tbl_NHANVIEN]
GO
ALTER TABLE [dbo].[tbl_PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_tbl_PHIEUMUON_tbl_SINHVIEN] FOREIGN KEY([maSV])
REFERENCES [dbo].[tbl_SINHVIEN] ([maSV])
GO
ALTER TABLE [dbo].[tbl_PHIEUMUON] CHECK CONSTRAINT [FK_tbl_PHIEUMUON_tbl_SINHVIEN]
GO
ALTER TABLE [dbo].[tbl_SACH]  WITH CHECK ADD  CONSTRAINT [FK_tbl_SACH_tbl_NGONNGHU] FOREIGN KEY([maNN])
REFERENCES [dbo].[tbl_NGONNGU] ([maNN])
GO
ALTER TABLE [dbo].[tbl_SACH] CHECK CONSTRAINT [FK_tbl_SACH_tbl_NGONNGHU]
GO
ALTER TABLE [dbo].[tbl_SACH]  WITH CHECK ADD  CONSTRAINT [FK_tbl_SACH_tbl_NHAXUATBAN] FOREIGN KEY([maNXB])
REFERENCES [dbo].[tbl_NHAXUATBAN] ([maNXB])
GO
ALTER TABLE [dbo].[tbl_SACH] CHECK CONSTRAINT [FK_tbl_SACH_tbl_NHAXUATBAN]
GO
ALTER TABLE [dbo].[tbl_SACH]  WITH CHECK ADD  CONSTRAINT [FK_tbl_SACH_tbl_TACGIA] FOREIGN KEY([maTG])
REFERENCES [dbo].[tbl_TACGIA] ([maTG])
GO
ALTER TABLE [dbo].[tbl_SACH] CHECK CONSTRAINT [FK_tbl_SACH_tbl_TACGIA]
GO
ALTER TABLE [dbo].[tbl_SACH]  WITH CHECK ADD  CONSTRAINT [FK_tbl_SACH_tbl_THELOAI] FOREIGN KEY([maTL])
REFERENCES [dbo].[tbl_THELOAI] ([maTL])
GO
ALTER TABLE [dbo].[tbl_SACH] CHECK CONSTRAINT [FK_tbl_SACH_tbl_THELOAI]
GO
ALTER TABLE [dbo].[tbl_TRASACH]  WITH CHECK ADD  CONSTRAINT [FK_tbl_TRASACH_tbl_CTPHIEUMUON] FOREIGN KEY([maPhieu], [maSach])
REFERENCES [dbo].[tbl_CTPHIEUMUON] ([maPhieu], [maSach])
GO
ALTER TABLE [dbo].[tbl_TRASACH] CHECK CONSTRAINT [FK_tbl_TRASACH_tbl_CTPHIEUMUON]
GO
ALTER TABLE [dbo].[tbl_TRASACH]  WITH CHECK ADD  CONSTRAINT [FK_tbl_TRASACH_tbl_NHANVIEN] FOREIGN KEY([maNV])
REFERENCES [dbo].[tbl_NHANVIEN] ([maNV])
GO
ALTER TABLE [dbo].[tbl_TRASACH] CHECK CONSTRAINT [FK_tbl_TRASACH_tbl_NHANVIEN]
GO
ALTER TABLE [dbo].[tbl_TRASACH]  WITH CHECK ADD  CONSTRAINT [FK_tbl_TRASACH_tbl_SACH] FOREIGN KEY([maSach])
REFERENCES [dbo].[tbl_SACH] ([maSach])
GO
ALTER TABLE [dbo].[tbl_TRASACH] CHECK CONSTRAINT [FK_tbl_TRASACH_tbl_SACH]
GO
USE [master]
GO
